### Gradle ###
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/
**/bin/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/dictionaries/
.idea/libraries/
.idea/vcs.xml
/.vscode/settings.json

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Temporary ###
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig

### Kotlin ###
*.class
*.jar
*.kt-meta-info

### Ktor Specific ###
.env
.env.*
